@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "PT Sans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  color: purple;
}

.sidebar-title {
  color: purple;
}
.base-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  height: 300px; /* Example height */
}

.new-order th,
.new-order td {
  padding: 15px; /* This adds space between the border and the content */
  text-align: left;
  border: 1px solid black;
}
.form-label-edit {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
